/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  /* Style for the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allows items to wrap to the next line on smaller screens */
  }
  
  /* Style for the items inside the footer */
.footer-item {
    margin: 0 10px; /* Adjust the margin as needed */
  }

.footer-item img {
    width: 30px; /* Set the desired width */
    height: 30px; /* Set the desired height */
    object-fit: contain; /* Maintain the aspect ratio */
}