.project-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: calc(33.333% - 20px); /* Adjust the width based on your preference */
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.project-image {
    width: 200px; /* Set the desired width */
    height: 200px;/* Maintain the aspect ration */
    object-fit: contain;
}

.repo-link {
    margin-top: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .project-card {
        width: 100%;
        margin-right: 0;
    }
}
